<!-- Find me in app/views/welcome/homepage.html.erb -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Cine.</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="welcome.css.scss" type="text/css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container">

  <div class="jumbotron">
    <div class="container">        
      <h1 class="ease">Monitor your Medications with Cura.</h1>
    </div>
  </div>  


	  <h3 class="Mon">Monday</h3>
	 
    <table class="table">
    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="Your Medication">
        <input type="text" class="form-control" placeholder="Your Medication">
        <input type="text" class="form-control" placeholder="Your Medication">
      </div>
    </div>
    

    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="The time You take your Medication">
        <input type="text" class="form-control" placeholder="The time You take your Medication">
        <input type="text" class="form-control" placeholder="The time You take your Medication">
      </div>
    </div>

    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="The food You take with the Medication">
        <input type="text" class="form-control" placeholder="The food You take with the Medication">
        <input type="text" class="form-control" placeholder="The food You take with the Medication">
      </div>
    </div> 
	  </table>

     <h3 class="Tue">Tuesday</h3>
   
    <table class="table">
    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="Your Medication">
        <input type="text" class="form-control" placeholder="Your Medication">
        <input type="text" class="form-control" placeholder="Your Medication">
      </div>
    </div>
    

    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="The time You take Your Medication">
        <input type="text" class="form-control" placeholder="The time You take Your Medication">
        <input type="text" class="form-control" placeholder="The time You take Your Medication">
      </div>
    </div>

    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="The food You take with the Medication">
        <input type="text" class="form-control" placeholder="The food You take with the Medication">
        <input type="text" class="form-control" placeholder="The food You take with the Medication">
      </div>
    </div>
    </table> 

     <h3 class="Wed">Wednesday</h3>
   
    <table class="table">
    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="Your Medication">
        <input type="text" class="form-control" placeholder="Your Medication">
        <input type="text" class="form-control" placeholder="Your Medication">
      </div>
    </div>
    

    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="The time You take Your Medication">
        <input type="text" class="form-control" placeholder="The time You take Your Medication">
        <input type="text" class="form-control" placeholder="The time You take Your Medication">
      </div>
    </div>

    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="The food You take with Your Medication">
        <input type="text" class="form-control" placeholder="The food You take with Your Medication">
        <input type="text" class="form-control" placeholder="The food You take with Your Medication">
      </div>
    </div>     
      
    </table>

    <h3 class="Thu">Thursday</h3>
   
    <table class="table">
    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="Your Medication">
        <input type="text" class="form-control" placeholder="Your Medication">
        <input type="text" class="form-control" placeholder="Your Medication">
      </div>
    </div>
    

    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="The time You take Your Medication">
        <input type="text" class="form-control" placeholder="The time You take Your Medication">
        <input type="text" class="form-control" placeholder="The time You take Your Medication">
      </div>
    </div>

    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="The food You take with your Medication">
        <input type="text" class="form-control" placeholder="The food You take with your Medication">
        <input type="text" class="form-control" placeholder="The food You take with your Medication">
      </div>
    </div>     
      
    </table>
    
    <h3 class="Fri">Friday</h3>
   
    <table class="table">
    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="Your Medication">
        <input type="text" class="form-control" placeholder="Your Medication">
        <input type="text" class="form-control" placeholder="Your Medication">
      </div>
    </div>
    

    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="The Time You take Your Medication">
        <input type="text" class="form-control" placeholder="The Time You take Your Medication">
        <input type="text" class="form-control" placeholder="The Time You take Your Medication">
      </div>
    </div>

    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="The food You take with Your Medication" >
        <input type="text" class="form-control" placeholder="The food You take with Your Medication" >
        <input type="text" class="form-control" placeholder="The food You take with Your Medication" >
      </div>
    </div>     
      
    </table>

     <h3 class="Sat">Saturday</h3>
   
    <table class="table">
    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="Your Medication">
        <input type="text" class="form-control" placeholder="Your Medication">
        <input type="text" class="form-control" placeholder="Your Medication">
      </div>
    </div>
    

    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="The time You take Your Medication">
        <input type="text" class="form-control" placeholder="The time You take Your Medication">
        <input type="text" class="form-control" placeholder="The time You take Your Medication">
      </div>
    </div>

    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="The food You take with Your Medication">
        <input type="text" class="form-control" placeholder="The food You take with Your Medication">
        <input type="text" class="form-control" placeholder="The food You take with Your Medication">
      </div>
    </div>     
      
    </table>

     <h3 class="Sun">Sunday</h3>
   
    <table class="table">
    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="Your Medication">
        <input type="text" class="form-control" placeholder="Your Medication">
        <input type="text" class="form-control" placeholder="Your Medication">
      </div>
    </div>
    

    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="The time You take Your Medication">
        <input type="text" class="form-control" placeholder="The time You take Your Medication">
        <input type="text" class="form-control" placeholder="The time You take Your Medication">
      </div>
    </div>

    <div class="col-md-4">  
      <div class="well well-sm">
        <input type="text" class="form-control" placeholder="The food You take with Your Medication">
        <input type="text" class="form-control" placeholder="The food You take with Your Medication">
        <input type="text" class="form-control" placeholder="The food You take with Your Medication">
      </div>
    </div>     
      
    </table>
    </div>
	


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>