.ease {
	margin-bottom: 80px;
	text-align: center; 
}

/*.jumbotron {*/
	/*background-color: #A8A8A8; */
/*}*/

/*.container {*/
	/*background-color: #A8A8A8;*/
/*}*/

body {
    background-color: #b0c4de;
}